<h1>See all of the BEST DEALS we can offer</h1>

<h2>Best Deals for CPUs:</h2>
<div class="item-grid">
    {{#each cpu}}
    <div class="small-container">
        <a href="/cpuDeal/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>

<h2>Best Deals for Graphics Cards:</h2>
<div class="item-grid">
    {{#each gpu}}
    <div class="small-container">
        <a href="/gpuDeal/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>

<h2>Best Deals for Memory (RAM):</h2>
<div class="item-grid">
    {{#each ram}}
    <div class="small-container">
        <a href="/ramDeal/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>

<h2>Best Deals for Motherboards:</h2>
<div class="item-grid">
    {{#each motherboard}}
    <div class="small-container">
        <a href="/motherboardDeal/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>

<h2>Best Deals for Power Supplies:</h2>
<div class="item-grid">
    {{#each powersupply}}
    <div class="small-container">
        <a href="/powerSupplyDeal/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>