<div class="page-heading">
    <h1>See all of the BEST DEALS we can offer</h1>
</div>

<div class="subheading">
    <h2>Best Deals for CPUs</h2>
</div>

<div class="item-grid">
    {{#each cpu}}
    <div class="card">
        <div class="product-image-box">
            <div class="product-image-overlay">
                <span>
                <a href="/cpuDeal/{{this._id}}">
                <img class="product-image" src="{{this.image}}" width="100%">
                </a>
                </span>
            </div>
        </div>
        <div class="container">
            <div class="product-card-title">
            <h4>{{this.title}}</h4>
            </div>
            <div class="product-card-info">
                <h2>{{this.price}}</h2>
            </div>
            <div class="product-card-info">
                <h4 class="prev-price">{{this.normal_price}}</h4>
            </div>
            <div class="product-card-info">
            <p>{{this.rating}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>


<div class="subheading">
    <h2>Best Deals for Graphics Cards</h2>
</div>
<div class="item-grid">
    {{#each gpu}}
    <div class="card">
        <div class="product-image-box">
            <div class="product-image-overlay">
                <a href="/gpuDeal/{{this._id}}">
                <img class="product-image" src="{{this.image}}" width="100%">
                </a>
            </div>
        </div>
        <div class="container">
            <div class="product-card-title">
            <h4>{{this.title}}</h4>
            </div>
            <div class="product-card-info">
                <h2>{{this.price}}</h2>
            </div>
            <div class="product-card-info">
                <h4 class="prev-price">{{this.normal_price}}</h4>
            </div>
            <div class="product-card-info">
            <p>{{this.rating}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>


<div class="subheading">
    <h2>Best Deals for Memory (RAM)</h2>
</div>
<div class="item-grid">
    {{#each ram}}
    <div class="card">
       <div class="product-image-box">
            <div class="product-image-overlay">
                <a href="/ramDeal/{{this._id}}">
                <img class="product-image" src="{{this.image}}" width="100%">
                </a>
            </div>
        </div>
        <div class="container">
            <div class="product-card-title">
            <h4>{{this.title}}</h4>
            </div>
            <div class="product-card-info">
                <h2>{{this.price}}</h2>
            </div>
            <div class="product-card-info">
                <h4 class="prev-price">{{this.normal_price}}</h4>
            </div>
            <div class="product-card-info">
            <p>{{this.rating}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>


<div class="subheading">
    <h2>Best Deals for Motherboards</h2>
</div>
<div class="item-grid">
    {{#each motherboard}}
    <div class="card">
        <div class="product-image-box">
            <div class="product-image-overlay">
                <a href="/motherboardDeal/{{this._id}}">
                <img class="product-image" src="{{this.image}}" width="100%">
                </a>
            </div>
        </div>
        <div class="container">
            <div class="product-card-title">
            <h4>{{this.title}}</h4>
            </div>
            <div class="product-card-info">
                <h2>{{this.price}}</h2>
            </div>
            <div class="product-card-info">
                <h4 class="prev-price">{{this.normal_price}}</h4>
            </div>
            <div class="product-card-info">
            <p>{{this.rating}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>


<div class="subheading">
    <h2>Best Deals for Power Supplies</h2>
</div>
<div class="item-grid">
    {{#each powersupply}}
    <div class="card">
        <div class="product-image-box">
            <div class="product-image-overlay">
                <a href="/powerSupplyDeal/{{this._id}}">
                <img class="product-image" src="{{this.image}}" width="100%">
                </a>
            </div>
        </div>
        <div class="container">
            <div class="product-card-title">
            <h4>{{this.title}}</h4>
            </div>
            <div class="product-card-info">
                <h2>{{this.price}}</h2>
            </div>
            <div class="product-card-info">
                <h4 class="prev-price">{{this.normal_price}}</h4>
            </div>
            <div class="product-card-info">
            <p>{{this.rating}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>