<h1>See all of the BEST DEALS we can offer</h1>
<h2>Best Deals for CPUs:</h2>
<div class="item-grid">
    {{#each data}}
    <div class="small-container">
        <a href="/cpu/{{this._id}}">
        <img src="{{this.image}}" height="150px">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>
<h2>Best Deals for Graphics Cards:</h2>
<div class="item-grid">
    {{#each data}}
    <div class="small-container">
        <a href="/gpu/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>
<h2>Best Deals for Memory (RAM):</h2>
<div class="item-grid">
    {{#each data}}
    <div class="small-container">
        <a href="/ram/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>
<h2>Best Deals for Motherboards:</h2>
<div class="item-grid">
    {{#each data}}
    <div class="small-container">
        <a href="/motherboard/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>
<h2>Best Deals for Power Supplies:</h2>
<div class="item-grid">
    {{#each data}}
    <div class="small-container">
        <a href="/powerSupply/{{this._id}}">
        <img src="{{this.image}}" width="100%">
        </a>
        <h4>{{this.title}}</h4>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
</div>