<div class="page-heading">
    <h1>{{title}}</h1>
</div>
<div class="item-display">
    <div class="left-col">
        <div class="image-box">
            <img src="{{data.image}}">
        </div>
    </div>
    <div class="right-col">
        <h2>{{data.title}}</h2>
        <h3>{{data.price}}</h3>
        <h4 id="rating-text">{{data.rating}}</h4>
        <p>{{data.reviews_no}}</p>
        <h3 id="available-text">{{data.availability}}</h3>
        <button class="button">
            <a href="{{data.source}}" target="_blank" >Buy Now</a>
        </button>
        <br>
        <br>
        <input class="button" type="submit" value="Add to Wishlist &#9825;" onclick="window.location.href = '/user/addWishlist/{{data._id}}'">
    </div>
</div>       
<div class="item-description">
    <hr>
    <div>
        <h2>Description</h2>
    </div>
    <div>
        <p>{{data.description}}</p>
    </div>
</div>
{{#if data.case_gear_title}}
    <div class="item-description final-item-margin">
        <hr>
        <div>
            <h2>Similar Product on PC Case Gear</h2>
        </div>
        <div class="list grid">
            <div class="list-grid-inner">
                <div class="list-left-grid">
                    <div class="list-image">
                            <img src="{{data.case_gear_image}}" width="100px">
                    </div>
                </div>
                
                <div class="list-item">
                    <div class="list-right-grid">
                        <div class="list-right-grid-inner">
                            <div class="list-item-info">
                                <div>
                                    <div class="list-item-info-col">
                                        <div class="product-card-title">
                                                {{data.case_gear_title}}
                                        </div>
                                        <div class="margin-none">
                                            <h2>{{data.case_gear_price}}</h2>
                                            <h3 id="available-text">{{data.case_gear_stock}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="list-item-action">
                                <div>
                                    <button class="button">
                                        <a href="{{data.case_gear_source}}" target="_blank" >Buy Now</a>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="final-item-margin">

    </div>
{{/if}}

