<div class="page-heading">
    <h1>{{title}}</h1>
</div>

<div class="item-display">
    <div class="left-col">
        <img src="{{data.image}}" >
        <input text-align="center" class="loginButton" type="submit" value="Add to Wishlist">
    </div>
    <div class="right-col">
        <h2>{{data.title}}</h2>
        <h3>Price: {{data.price}}</h3>
        <h3>Normal Price: {{data.normal_price}}</h3>
        <h3>Price changed by {{data.savings}}</h3>
        <h3>{{data.rating}}</h3>
        <h3>{{data.review_count}}</h3>
        <h3>{{data.availability}}</h3>
        <h3><a href="{{data.source}}">Click here for more information</a></h3>
    </div>
</div>
<div class="item-description final-item-margin">
    <hr>
    <div>
        <h2>Description</h2>
        <h3>{{data.description}}</h3>
    </div>
</div>