<div class="page-heading">
    <h1>Memory</h1>
</div>

<div class="item-grid">
    {{#each data}}
    <div class="card">
        <div class="product-image-box">
            <div class="product-image-overlay">
                <a href="/user/ram/{{this._id}}">
                <img class="product-image" src="{{this.image}}" width="100%">
                </a>
            </div>
        </div>
        <div class="container">
            <div class="product-card-info">
            <a href="/user/ram/{{this._id}}">
                <h4>{{this.title}}</h4>
            </a>
            </div>
            <div class="product-card-info">
                <h3>{{this.price}}</h3>
            </div>
            <div class="product-card-info">
            <p>{{this.rating}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>