<div class="page-heading">
    <h1>Recently viewed items</h1>
</div>
<ul class="item-list">
    {{#each data}}
    <li>
        <span>
            <div class="list grid">
                <div class="list-grid-inner">
                    <div class="list-left-grid">
                        <div class="list-image">
                            <a href="/user/{{this.type}}/{{this.id}}">
                                <img src="{{this.image}}" width="100px">
                            </a>
                            
                        </div>
                    </div>
                    
                    <div class="list-item">
                        <div class="list-right-grid">
                            <div class="list-right-grid-inner">
                                <div class="list-item-info">
                                    <div>
                                        <div class="list-item-info-col">
                                            <div class="product-card-title">
                                                <a href="/user/{{this.type}}/{{this.id}}">
                                                    {{this.name}}
                                                </a>
                                            </div>
                                            <div class="margin-none">
                                                <h2>{{this.price}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                <div class="list-item-action">
                                    <div>
                                         <button class="button">
                                            <a href="{{this.source}}" target="_blank" >Buy Now</a>
                                        </button>
                                    </div>
                                    <div>
                                        <button class="button" onclick="window.location.href = '/user/addWishlist/{{this.id}}'"> Wishlist &#9825;</button>
                                    </div>
                                    <div>
                                        <button class="button" onclick="window.location.href = '/user/removeHistory/{{this.id}}'"> Remove</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
        <hr>
    </li>
    {{/each}}
</ul>
<div class="final-item-margin"></div>
