<div class="page-heading">
    <h1>My Wishlist</h1>
</div>
{{#each data}}
<div>
    <span>
        <img src="{{this.image}}" width="100px">
    </span>
    <span>{{this.name}}</span>
    <span>Item Price: {{this.price}}</span>
    <span><button class="button" onclick="window.location.href = '/user/{{this.type}}/{{this.id}}'">view</button></span>
    <span><button class="button" onclick="window.location.href = '/user/removeWishlist/{{this.id}}'"> remove &times;</button></span>
    <hr>
</div>
{{/each}}
<div class="final-item-margin"></div>